body {
	margin: 0;
	padding: 2rem;
	box-sizing: border-box;
	background-color: black;
	color: white;
	text-align: center;
}

a {
	color: white;
}
a:hover {
	color: rgb(0, 119, 255);
}

.hidden {
	/* visibility: hidden; */
	background-color: red;
	width: 100%;
	height: 50px;
	background-image: linear-gradient(to right, #ef5fff, #feb47b);
}

.none {
	/* display: none; */
	width: 100%;
	height: 50px;
	background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.opacity {
	opacity: 1;
	width: 100%;
	height: 50px;
	background: linear-gradient(to right, #0051ff, #66ff00);
}
